@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(5, 151, 151);
}

header h1 {
    text-align: center;
    color: white;
    padding: 10px;
}

section {
    width: 500px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
    padding: 10px;
}

section select {
    min-width: 100px;
    margin: 10px 0px;
}

section div#res p {
    line-height: 1.7em;
}

footer {
    text-align: center;
    color: white;
    padding: 10px;
}

footer a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


